body {
    height: 100%;
    width: 100%;
    /* overflow-y: scroll; */
    position: relative;

    padding-bottom: 50px;
}

a {
    color:#02c3b0 ;
}

a :hover {
    color:#0e554e ;
}

.big-icon {
  font-size: 2em;
  padding-right: 1em;
}

.parallax {
  /* The image used */
  background-image: url("../images/protest-2.jpg");

  /* Set a specific height */
  height: 610px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-pad {
  width: 100%;
  /* height:100px; */
  /* position:fixed; */
  display:inline-block;

  padding: 0px auto 0px 0px;
  /* padding-right: 0px; */
}

ul.star-list {
    list-style: none; /* Remove default bullets */
}


ul.star-list li::before {
    content: "\2605";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #02c3b0; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    font-size: 2.5em;
    width: 1.5em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.star-list li p {
    margin: -40px auto auto 20px;
}

#logo_row {
    text-align: center;
    padding: 60px 0px 50px 0px;
    background-color: #02c3b0;
}

#logo {
    width: 100%;
    height: auto;
    max-width: 441px;
}

#navbar {
    background-color:  #02c3b0 !important;
}

#socials {
    padding-top: 30px;
}

#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slogan {
  display: flex;
  background-color: black;
  padding: 0px 25px 0px 25px;
  margin: 30px;
  color: white;
  font-size: 5em;
  font-family: 'Staatliches', cursive;
}


.title_header {
    font-family: 'Staatliches', cursive;
    padding-top: 60px;
}

.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 40px 0;
}

.important-event {
    background-color: #02c3b0;
}

a.button4 { 
  display: inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Staatliches', cursive;
  font-weight:300;
  font-size:2em;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  background-color: #02c3b0;
  border-color: #02c3b0;
}

a.button4:hover{
  border-color: white;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position:relative;
}

@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}


@media screen and (max-width: 768px) {
  #slogan {
      font-size: 4.25em;
  }
 
  .parallax {
      height: 510px;
  }
}


@media screen and (max-width: 600px) {
  #logo {
      width: 60%;
  }


   #slogan {
      font-size: 3.25em;
  }

  a.button4 {
    font-size: 1.5em;
  }

   
  .parallax {
      height: 410px;
  }

  .title {
    visibility: hidden;
  }
}